*{
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}
body{
     background-color: rgb(26, 26, 29);
}
.heading{
          background-color: rgb(193, 0, 0);
          color: rgb(233, 211, 211);
          text-align: center;
          width:100%;
          height: 5rem;
          padding-top: 0.5em ;
          border-radius: 10px;
       
        
}
.main
{
     width: 90%;
     height: auto;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin: 3em auto;
    
}
.Card-one{
     width: 50%;
     margin: 3em;  
    
}

.Img-card{
     width: 560px;
     height: 260px;
     object-fit: cover;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease;  

}
.Img-card:hover {
     transform: scale(1.1);}
.sub-title
{
     color: rgb(217, 10, 10);
     font-weight: 600;
     font-size: 24px;

}
.title{
    color: rgb(255, 255, 255);
     font-weight: 600;
     font-size: 25px;  
}
 .viwe{
    color: rgb(127, 126, 126);
    font-size: 16px;
    margin-top: 15px;
    
}
.btn{
      background-color: rgb(217, 10, 10);
      color: rgb(255, 255, 255);
      padding: 0.8em 1.6em ;
      text-decoration: none;
      position: relative;
      top: 16px;
}
